:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --background-secondary-color: #F5F4FA;
  --card-set-gap: 30px;
}


/* ------------------Утилиты-------------------- */

p,
h1,
h2,
h3,
{
  margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

body {
  font-family: Roboto, sans-serif; Raleway, sans-serif;
  background-color: var(--primary-white-color);
  letter-spacing: 0.03em;
}


.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  }



/* --------------------------Шапка сайта----------------------- */


.header-container {
  display: flex;
  align-items: center;
}


.header-list {
  display: flex;
  align-items: center;
}

.header-item:not(:last-child) {
margin-right: 50px;
}

.header-navigation {
  display: flex;
  align-items: center;
}


.header-contacts-container {
  display: flex;
    margin-left: auto;
  }

.header-contacts-item:not(:last-child) {
margin-right: 50px;
}



.header-link {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-contacts-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}



/* Логотип */

.logo {
  
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
    color: var(--accent-color);
}

.logo-black {
  margin-right: 93px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
    color: var(--primary-text-color);
}
.logo-white {
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
color: var(--primary-white-color)
}

.logo-black:hover,
.logo-black:focus,
.logo-white:hover,
.logo-white:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}


.header-link:hover {
  color: var(--accent-color);
}

.header-link:focus {
  color: var(--accent-color);
}


/* ----------------------Герой--------------------- */

.hero {
  display: flex;
  background-color: var(--background-color);
  height: 600px;
  align-items: center;
}

.hero-container {
 text-align: center;
 padding: 200px 0;
 max-width: 696px;

}

.hero-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-top: 0;
  margin-bottom: 30px;
}

.hero-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border: none;
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;

}


/* -------------------Преимущества---------------- */

.features-section {
padding-top: 94px;
padding-bottom: 94px;
}

.features-list {
  display: flex;
}

.features-title {
margin-top: 0;
margin-bottom: 10px;
font-weight: bold;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
color: var(--primary-text-color);
}

.features-text {
margin-top: 0;
margin-bottom: 0;
font-size: 14px;
line-height: 1.71;
color: var(--secondary-text-color);
}

.features-list > .features-list-container {
flex-basis: calc(100% / 4 - var(--card-set-gap));
margin-right: var(--card-set-gap);
}

.features-list-container:not(:nth-last-child) {
  margin-right: var(--card-set-gap);
}

/* Услуги */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.services-section {
  padding-bottom: 94px;
}

.services-title, 
.team-title {
margin-top: 0;
margin-bottom: 50px;
font-weight: bold;
font-size: 36px;
line-height: 1.17;
text-align: center;
}

.services-list {
  display: flex;
}

.services-list-item {
flex-basis: calc(100% / 3) ;  
}

.services-list-item:not(:last-child) {
margin-right: var(--card-set-gap);
}


/* ------------------------Команда----------------------- */

.team-section {
  background-color: var(--background-secondary-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

/* .team-title {
margin-top: 0;
margin-bottom: 50px;
font-weight: bold;
font-size: 36px;
line-height: 1.17;
text-align: center;
} */

.team-list-section {
display: flex;
margin-right: calc(-1 * var(--card-set-gap))
}

.team-list-item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-right: var(--card-set-gap);
}

.team-card {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card-content {
  padding: 30px 0;
}

.team-name {
margin-top: 0;
margin-bottom: 10px;  
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
color: var(--primary-text-color);
}

.team-position {
margin-top: 0;
margin-bottom: 0;
font-weight: normal;
font-size: 16px;
line-height: 1.19;
text-align: center;
color: var(--secondary-text-color);
}


/* Футер */


.footer-section {
padding-top: 60px;
padding-bottom: 60px;
background-color: var(--background-color);
}

.footer-logo {
margin-bottom: 20px;
}

.footer-adress {
display: block;
font-style: normal;
font-size: 14px;
line-height: 1.71;
color: var(--primary-white-color);
margin-bottom: 9px;
}

.footer-contacts {
display: block;
font-style: normal;
font-size: 14px;
line-height: 1.71;
color: rgba(255, 255, 255, 0.6);
margin-bottom: 9px;
}

/* ----------------------Страница Портфолио------------------ */

/* Фильтр-кнопки */
.btn-all,
.btn-web,
.btn-app,
.btn-design,
.btn-marketing {
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 0.03em;
border-radius: 4px;
color: -var(--primary-text-color);
background-color: var(--background-secondary-color);
border: none;
cursor: pointer;
}

.btn-all:hover,
.btn-all:focus,
.btn-web:hover,
.btn-web:focus,
.btn-app:hover,
.btn-app:focus,
.btn-design:hover,
.btn-design:focus,
.btn-marketing:hover,
.btn-marketing:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Проекты */
.projects-list-link {
  text-decoration: none;
}

.projects-list-name {
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--primary-text-color);
}

.projects-list-product {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}